<% provide(:title, 'User') %>
<% provide(:complement, @person) %>
<% provide(:action_left) do %>
  <%= link_to '<', root_path %>
<% end %>
<div class="card">
  <div class="links">
    <%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-outline-secondary' %>
    <%= link_to "Change password", edit_user_registration_path, class: 'btn btn-outline-secondary' %>
    <%= link_to "Logout", destroy_user_session_path, class: 'btn btn-outline-secondary', method: :delete%>
  </div>
</div>
<div class="card mt">
  <h2 class="text-center">People</h2>
  <hr>
  <div class="space-around-wrap text-center">
    <div>
      <h3>Followed</h3>
      <ul class="list-group">
        <% @person.followers.each do |relationship| %>
          <li class="list-group-item"> <%= link_to relationship.display_follower_name, person_path(relationship.follower_id) %> </li>
        <% end %>
      </ul>
    </div>
    <div>
      <h3>Following</h3>
      <ul>
        <% @person.following.each do |relationship| %>
          <li class="list-group-item"> <%= link_to relationship.display_followed_name, person_path(relationship.followed_id) %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
  <div class="links">
    <%= link_to  "See people", people_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>
<% if @person.kreated_posts.any? %>
  <div class="card mt">
    <h2 class="text-center">Posts</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Short Title</th>
          <th scope="col">Views</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @person.kreated_posts.each do |post|  %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.short_title %></td>
            <td><%= post.people.size %></td>
            <td class="links">
              <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-secondary' %>
              <%= link_to 'Show', post_path(post), class: 'btn btn-outline-secondary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
