<% provide(:title, 'The') %>
<% provide(:complement, 'Dashboard') %>
<% provide(:action_left) do %>
  <%= link_to '<', root_path %>
<% end %>
<div class="card">
  <h1><%= @person %></h1>
</div>
<div class="card">
  <h2>Posts</h2>
  <ul>
    <% @person.kreated_posts.each do |post|  %>
      <li> <%= link_to post.short_title, post_path(post) %> </li>
    <% end %>
  </ul>
</div>
<div class="card mt">
  <div class="links">
    <%= link_to  "Change password", edit_user_registration_path %>
    <%= link_to  "Logout", destroy_user_session_path, method: :delete  %>
  </div>
</div>
