<% provide(:title, 'The') %>
<% provide(:complement, 'Post') %>
<% provide(:action_left) do %>
  <%= link_to '<', root_path %>
<% end %>
<div class="card">
  <div class="space-between-middle">
    <div style="flex: auto">
      <h1><%= @post.title %></h1>
      <blockquote><%= @post.user.email %></blockquote>
    </div>
    <div style="flex: expand">
      <%= @post.users.size if @post.users.size > 1 %> <%= @post.users.size == 1 ? 'first view' : 'views' %>
    </div>
  </div>
  <%= image_tag @post.image %>
  <p><%= @post.description %></p>
</div>
<div class="card mt">
  <ul>
    <% @post.users.each do |user| %>
      <li>
        Was seen by <%= user.email %>
      </li>
    <% end %>
  </ul>
</div>


<div class="sized-box"></div>
