<% provide(:title, 'The') %>
<% provide(:complement, 'Post') %>
<% provide(:action_left) do %>
  <%= link_to '<', root_path %>
<% end %>
<div class="card">
  <div class="space-between-middle">
    <div style="flex: auto">
      <h1><%= @post.title %></h1>
      <blockquote><%= @post.person %></blockquote>
    </div>
    <div style="flex: expand">
      <%= @post.people.size if @post.people.size > 1 %> <%= @post.people.size == 1 ? 'first view' : 'views' %>
    </div>
  </div>
  <%= image_tag @post.image %>
  <br>
  <p><%= @post.description %></p>
</div>
<% if @post.comments.any? %>
  <div class="card mt">
    <h3 class="text-center">Comments</h3>
    <%= render @post.comments %>
  </div>
<% end %>
<div class="card mt">
  <h3 class="text-right">New Comment</h3>
  <%= render 'comments/form', comment: @post.comments.new, post: @post %>
</div>
<div class="card mt">
  <ul class="margin-remove">
    <% @post.people.each do |user| %>
      <% next if user.id == current_user.id %>
      <li>
        <div class="space-around-wrap">
          Was seen by <%= user.display_name %>
          <% if Relationship.following?(follower: current_user.id, followed: user.id) %>
            <%= button_to "Unfollow", {controller: :relationships, action: :destroy, id: user.id}, method: :delete, class: 'btn btn-outline-secondary reset' %>
          <% else %>
            <%= button_to "Follow", relationships_path, method: :post, params: {followed_id: user.id}, class: 'btn btn-outline-secondary reset' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="sized-box"></div>
